body{
    background-color: rgb(146, 193, 255); 
    color: rgb(0, 14, 95);
}

nav{
    padding: 5px;
    line-height: 30px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    position: absolute;
    left: 45%;
}

header{
    text-align: center;
}

img{
    width: 200px;
    position: absolute;
    left: 42.5%;
    top: 25%;
}

nav{
    padding: 10px;
    text-align: center;
    background-color: rgb(50, 100, 200);
    color: rgb(250, 100, 200);
}
nav a{
    padding: 8px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(230, 230, 10);
    border: 4px solid rgb(100, 112, 250);
    border-radius: 10px;
    font-weight: bold;
}